.header {
  border-bottom: 1px solid #ececec;
  > .container {
    display: flex;
    align-items: center;
    @media screen and (max-width:1198px) {
      justify-content: space-between;
    }
    @include desktop{
      justify-content: flex-start;
    }
  }
}
.header__logo {
  @include desktop{
    margin-right: 93px;
  }
}

.header__logo--color {
  color: var(--black);
}
.header__navigation {
  display: flex;
  gap: 50px;
}
.header__connect {
  @include desktop{
    display: flex;
    margin-left: auto;
  }
}
.header__navigation .link.current {
  color: var(--accent-color);
}


