body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--primery-text-color);
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-title-color);

  @include desktop{
    font-size: 36px;
    line-height: 1.16;
  }
}
.contact {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.no-scroll{
  overflow: hidden;
  @include tablet{
    overflow: auto;
  }
}
